@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #e5e5e5;
  font-family: "Domine", serif;
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}

/*
  HEADER
*/
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
}

.header-logo-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s;
}

.header-logo-link:hover {
  color: #535353;
}

.header-menu {
  display: flex;
  list-style-type: none;
}

.header-list {
  margin-right: 20px;
  display: list-item;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #535353;
}

.header-list:last-child {
  margin-right: 0;
}

.header-list-link {
  color: #535353;
  text-decoration: none;
  transition: color 0.2s;
}

.header-list-link:hover {
  color: #ec7f67;
}

.header-registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-registration-login {
  font-size: 19px;
  color: #535353;
  margin-right: 25px;
  text-decoration: none;
  transition: color 0.2s;
}

.header-registration-login:hover {
  color: #ec7f67;
}

.header-registration-signup {
  font-size: 19px;
  text-align: center;
  color: #535353;
  background: #ffffff;
  border-radius: 50px;
  padding: 20px 40px;
  text-decoration: none;
  transition: all 0.2s;
}

.header-registration-signup:hover {
  background: #535353;
  color: #ffffff;
}

/*
  MAIN OFFER
 */
.main-offer {
  height: calc(100vh - 120px);
  max-height: 950px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-offer-logistics {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.main-offer-logistics-text {
  font-size: 70px;
  color: #111111;
}

.main-offer-logistics-button {
  margin-top: 90px;
}

.main-offer-logistics-button-link {
  background: #ec7f67;
  font-size: 19px;
  text-align: center;
  color: #ffffff;
  border: 0;
  padding: 20px 40px;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 2px;
}
.main-offer-logistics-button-link:hover {
  background: #ffffff;
  color: #ec7f67;
}

.main-offer-bike {
  width: 45%;
}
.main-offer-bike-img {
  width: 100%;
}

/*
  GLOBAL
 */
.description {
  width: auto;
  height: auto;
  position: relative;
  background-color: #ffffff;
}

.description-item {
  display: inline;
  position: relative;
  left: 450px;
  top: 170px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #111111;
}

.description-image {
  position: absolute;
  right: 500px;
  margin-top: 200px;
}

.description-name {
  position: relative;
  margin-left: 450px;
  top: 200px;
  font-style: normal;
  font-weight: 100px;
  font-size: 15px;
  line-height: 30px;
  color: #535353;
}

.block_1 h1,
.block_2 h1,
.block_3 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  color: #111111;
}

.block_1 {
  border: 1px solid #edeae9;
  padding: 10px;
  display: inline-block;
  margin-left: 450px;
  margin-top: 250px;
}

.block_2 {
  border: 1px solid #edeae9;
  padding: 10px;
  display: inline-block;
}

.block_3 {
  border: 1px solid #edeae9;
  padding: 10px;
  display: inline-block;
}

.block {
  width: 150px;
  height: 50px;
  background-color: #535353;
  margin-top: 80px;
  margin-left: 450px;
}

.square {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 47px;
  color: #ffffff;
}

.services {
  width: auto;
  height: 800px;
  position: relative;
  background-color: #edeae9;
}

.services-item {
  width: auto;
  height: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
  color: #111111;
}

.circle-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #ffffff;
}

.second {
  width: 75px;
  height: 75px;
  margin-top: 32px;
}

.benefits {
  margin-top: 20px;
}

.benefits-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 200px;
  font-size: 10px;
  line-height: 25px;
  color: #111111;
}

.benefits-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 100px;
  font-size: 10px;
  line-height: 15px;
  color: #535353;
}

.more_1 h1,
.more_2 h1,
.more_3 h1,
.more_4 h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #535353;
  text-align: center;
}
.more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.more_1 {
  width: 100px;
  height: 25px;
  border: 1px solid #535353;
  padding: 2px;
}

.more_2 {
  width: 100px;
  height: 25px;
  border: 1px solid #535353;
  padding: 2px;
}

.more_3 {
  width: 100px;
  height: 25px;
  border: 1px solid #535353;
  padding: 2px;
}

.more_4 {
  width: 100px;
  height: 25px;
  border: 1px solid #535353;
  padding: 2px;
}

.explore {
  display: inline-block;
  width: 250px;
  height: 60px;
  margin-top: 120px;
  margin-left: 320px;
  background-color: #ec7f67;
}

.explore_1 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
}

.articles {
  position: relative;
  width: auto;
  height: 2550px;
  background-color: #ffffff;
}

.articles-item {
  position: relative;
  width: auto;
  height: 100px;
  top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #111111;
}

.articles-photo {
  position: absolute;
  top: 350px;
  left: 100px;
}

.asia {
  display: inline-block;
  position: relative;
  top: 350px;
  left: 100px;
  width: 268px;
  height: 263px;
  background-color: #f5f5f4;
}

.asia-pacific {
  position: relative;
  top: 40px;
  left: 10px;
  font-style: normal;
  font-weight: 150px;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
}

.pacific {
  width: 265px;
  position: relative;
  top: 70px;
  left: 10px;
  font-style: normal;
  font-size: 9px;
  line-height: 15px;
  color: #535353;
}

.articles-info {
  position: relative;
  top: 100px;
  left: 10px;
  width: 70px;
  height: 20px;
  background-color: #535353;
}

.articles-info-1 {
  position: relative;
  top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  text-align: center;
  color: #ffffff;
}

.cup {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 320px;
  bottom: 250px;
  width: 380px;
  height: 70px;
}

.cup-photo {
  width: 150px;
  height: 63px;
}

.cup_go {
  position: relative;
  bottom: 10px;
  margin-left: 30px;
}

.cup_off {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  color: #000000;
}

.cup_on {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7c7c7c;
}

.laptop {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 320px;
  bottom: 220px;
  width: 380px;
  height: 70px;
}

.laptop-photo {
  width: 140px;
  height: 63px;
}

.laptop_go {
  position: relative;
  bottom: 10px;
  margin-left: 30px;
}

.laptop_off {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  color: #000000;
}

.laptop_on {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7c7c7c;
}

.mac {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 320px;
  bottom: 190px;
  width: 380px;
  height: 70px;
}

.mac-photo {
  width: 120px;
  height: 63px;
}

.mac_go {
  position: relative;
  bottom: 10px;
  margin-left: 30px;
}

.mac_off {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  color: #000000;
}

.mac_on {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7c7c7c;
}

.leyb {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 320px;
  bottom: 160px;
  width: 380px;
  height: 70px;
}

.leyb-photo {
  width: 120px;
  height: 63px;
}

.leyb_go {
  position: relative;
  bottom: 10px;
  margin-left: 30px;
}

.leyb_off {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  color: #000000;
}

.leyb_on {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7c7c7c;
}

.more-article {
  display: inline-block;
  margin-left: 190px;
  margin-bottom: 70px;
  position: relative;
  width: 220px;
  height: 60px;
  background-color: #ec7f67;
}

.more-article-1 {
  position: relative;
  top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.client {
  position: relative;
  top: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  color: #111111;
}

.say {
  position: relative;
  top: 530px;
  margin-left: 57px;
}

.korea {
  display: inline-block;
  width: 220px;
  height: 70px;
  margin-right: 50px;
  background: #edeae9;
  border: 1px solid #edeae9;
}

.korea-name {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
  color: #111111;
}

.korea-country {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #535353;
}

.usa {
  display: inline-block;
  width: 220px;
  height: 70px;
  margin-right: 50px;
  background: #ec7f67;
  border: 1px solid #ec7f67;
}

.usa-name {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
  color: #111111;
}

.usa-country {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #535353;
}

.german {
  display: inline-block;
  width: 220px;
  height: 70px;
  background: #edeae9;
  border: 1px solid #edeae9;
}

.german-name {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
  color: #111111;
}

.german-country {
  position: relative;
  display: inline-block;
  bottom: 35px;
  left: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #535353;
}

.thank {
  position: relative;
  margin-top: 550px;
  text-align: center;
}

.thank-you {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #111111;
}

.bracket-photo {
  position: relative;
  margin-left: 180px;
  bottom: 20px;
}

.bracket-empty {
  position: relative;
  bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #535353;
}

.dot {
  position: relative;
  left: 400px;
  bottom: 30px;
}

.comfortable {
  position: relative;
  margin-left: 110px;
  margin-top: 70px;
}

.customers {
  display: inline-block;
  border: 1px solid #edeae9;
  width: 220px;
  height: 70px;
}

.thousand {
  position: relative;
  top: 20px;
  left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #111111;
}

.active {
  position: relative;
  left: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #535353;
}

.monthly {
  display: inline-block;
  border: 1px solid #edeae9;
  width: 220px;
  height: 70px;
}

.thousand-1 {
  position: relative;
  top: 20px;
  left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #111111;
}

.shipments {
  position: relative;
  left: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #535353;
}

.order {
  display: inline-block;
  border: 1px solid #edeae9;
  width: 220px;
  height: 70px;
}

.min {
  position: relative;
  top: 20px;
  left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #111111;
}

.book {
  position: relative;
  left: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #535353;
}

.ready {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 120px;
  top: 180px;
  left: 130px;
}

.ready-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #111111;
}

.create {
  position: relative;
  top: 30px;
  left: 450px;
  width: 320px;
  height: 200px;
  background: #edeae9;
}

.create-an {
  position: relative;
  top: 50px;
  left: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #535353;
}

.account {
  position: relative;
  top: 60px;
  left: 50px;
  width: 180px;
  height: 40px;
  background: #ec7f67;
  border-radius: 45px;
}

.account-1 {
  position: relative;
  top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.hub {
  display: block;
  width: 500px;
  height: 300px;
  position: relative;
  top: 150px;
  background: #edeae9;
}
.hub-1 {
  display: inline-block;
  position: relative;
  left: 90px;
  top: 50px;
}

.kingdom {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #111111;
}

.united {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 25px;
  color: #535353;
}

.hub-2 {
  display: inline-block;
  position: relative;
  left: 120px;
  top: 75px;
}

.trends {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #111111;
}

.events {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 25px;
  color: #535353;
}

.hub-3 {
  display: inline-block;
  position: relative;
  left: 150px;
  top: 75px;
}

.terms {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #111111;
}

.conditions {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 25px;
  color: #535353;
}

.haag {
  position: relative;
  margin-left: 500px;
  bottom: 220px;
  width: 380px;
  height: 300px;
  background: #ec7f67;
}

.haag-1 {
  position: relative;
  left: 100px;
  top: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-1 {
  bottom: 50px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #535353;
}

.footer-photo {
  position: relative;
  left: 400px;
  bottom: 80px;
}

.footer-2 {
  position: relative;
  bottom: 110px;
  left: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #535353;
}
